body{
    margin : 0;
    background-color: antiquewhite;
}
.counthead{
    width : 100%;
    font-size: 1.5em;
    color: burlywood;
    text-align: right;
}

#maincircle{
    position: absolute;
    top: 0;
    bottom : 0;
    right: 0;
    left : 0;
    margin : auto;
    height : 200px;
    width : 200px;
    background-color : red;
    border-radius: 50%;
}
#subcircle{
    position: absolute;
    top: 0;
    bottom : 0;
    right: 0;
    left : 0;
    height : 125px;
    width : 125px;
    margin : auto;
    border-radius: 50%;
    background-color: antiquewhite;
}
#strip1{
    position: absolute;
    top: 0;
    bottom : 0;
    right: 0;
    left : 0;
    height : 125px;
    width : 25px;
    margin : auto;
    /* background-color: white; */
}
#strip1::before{
    content: '';
    position: absolute;
    top: -163.5px;
    bottom : 0;
    right: 0;
    left : 0;
    margin : auto;
    height : 37.5px;
    width : 25px;
    border-radius: 10px;
    background-color: yellow;
}


#strip2{
    position: absolute;
    top: 0;
    bottom : 0;
    right: 0;
    left : 0;
    height : 10px;
    width : 10px;
    margin : auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: blue;
}
#strip2::before{
    content: '';
    position: absolute;
    top: -103px;
    bottom : 0;
    right: 0;
    left : 0;
    margin : auto;
    height : 100px;
    width : 10px;
    border-radius: 10px;
    background-color: blue;
}

#start{
    position : absolute;
    top: 350px;
    height : 100px;
    width : 100px;
    font-size : 2rem;
    border: 1px solid yellow;
    background-color : rgb(0, 153, 255);
    color : white;
    border-radius : 50%;
    outline : none;
    cursor: pointer;
}
#push{
    position : absolute;
    top: 350px;
    right : 0px;
    height : 100px;
    width : 100px;
    font-size : 2rem;
    border: 1px solid yellow;
    background-color : rgb(0, 153, 255);
    color : white;
    border-radius : 50%;
    outline : none;
    cursor: pointer;    
}